/* NUTRITION PAGE */
.nutritionimg {
    background: url("../images/orangesolo.jpg") no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.nutritiontableimg {
    background: url("../images/nutritiontable.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 50vh;
}
table {width: 100%;}
tr:nth-child(even) {
    background-color: #efca8a;
}


/* CATERING PAGE */
.cateringimg {
    background: url("../images/cateringplatter_8.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: inherit;
}

/* CLUB SMOOTHIE PAGE */
.clubsmoothieimg {
    background: url("../images//smoothie-people-drinking.jpg") no-repeat fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
}
.clubbanner {
    background: orange;
    height: 30vh;
    width: 100%;
}
.clubbannerimg {
    background: url("../images/DollarCouponSmoothie.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: inherit;
}
.clubcouponimg {
    background: url("../images/DollarCouponSmoothie.jpg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
}
.sandwichcouponjambajuice {
    background: url("../images/sandwichcoupon.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100px;
}
.smoothieimgclub {
    background: url("../images/Three_people_drinking_smoothies.jpg") no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-bottom: 1em;
}