/* CONTACT US */
.contactusimg {
    background: url("../images/Smooth%20Girl.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}

input[type="radio"], input[type="checkbox"] {width: 4%;}
#contactbox1, #contactbox2 {color: #535659;}
#contactbox2 {height: 80px;}

.accordion {
    cursor: pointer; 
    padding: 1em; 
    width: 100%; 
    text-align: center; 
    line-height: 90%; 
}
.panel {
    padding: 0 1em;  
    display: none; 
}


/* GALLERY */
.gallerycontainer {
    height: 40vw;
    padding: 0;
}
.gallerycaption-container {
    text-align: center;
    background-color: #cb3294;
    display: flex;
    justify-content: center;
    height: 7vh;
    padding-top: 1em;
}
#gallerycaption {color: #fff;font-size: 1.9rem;}
/* GALLERY IMAGES */
#galleryimg1 {
    background: url("../images/open.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: inherit;
}

#galleryimg2 {
    background: url("../images/counter.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: inherit;
}

#galleryimg3 {
    background: url("../images/fruitstand.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: inherit;
}
#galleryimg4 {
    background: url("../images/girl.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: inherit;
}

#galleryimg5 {
    background: url("../images/shakes.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: inherit;
}

#galleryimg6 {
    background: url("../images/multiplesmoothies.jpg") no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: inherit;
}

/* GALLERY THUMBNAILS */
.thumbnail1, .thumbnail2, .thumbnail3, .thumbnail4, .thumbnail5, .thumbnail6, .thumbnail6 {
    height: 100px;
}
.thumbnailcontainer {
    width: 16.6666666667%;
    float: left;
}
.cursor {cursor: pointer;}

.thumbnail1 {background: url("../images/open.jpg") no-repeat;background-size: 110%;}

.thumbnail2 {background: url("../images/counter.jpg") no-repeat;background-size: 110%;}

.thumbnail3 {background: url("../images/fruitstand.jpg") no-repeat;background-size: 110%;}

.thumbnail4 {background: url("../images/girl.jpg") no-repeat;background-size: 110%;}

.thumbnail5 {background: url("../images/shakes.jpg") no-repeat;background-size: 135%;}

.thumbnail6 {background: url("../images/multiplesmoothies.jpg") no-repeat;background-size: 105%;}
